<div class="container mt-4 p-4 border border-3">
    <div class="d-flex justify-content-between mb-3">
      <div class="btn-group">
        <button (click)="openDialog(true)"  type="button" class="btn btn-danger">Crear</button>
      </div>
    </div>
  <div class="container">
    
  </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Tipo de Usuario</th>
          <th>Cédula</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Teléfono</th>
          <th>Fecha de Nacimiento</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.tipo_usuario}}</td>
          <td>{{usuario.cedula}}</td>
          <td>{{usuario.nombres}}</td>
          <td>{{usuario.apellidos}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.fecha_nacimiento}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.direccion}}</td>
          <td>
            <div class="btn-group">
              <button (click)="openDialog(false,usuario)"  class="btn btn-info">Actualizar</button>
              <button (click)="eliminarUsuario(usuario.id)" class="btn btn-danger">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  